<style>@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);</style>
<div class="container">
<div class="row"> 
    <div class="card">
        <div class="card-content"> <span class="card-title"><%= @post.title %></span> 
            <span><p>[작성자 권한]</p></span>
            <span><%= @post.user.name %> 기자</span> 
            <span><%= @post.created_at %></span></br>
            <small><%= @post.likes.size %> like this article.</small> 
        </div>
        <div class="container">
            <div class="card-image">  
                <% if @post.image.url %>
                    <img src= "<%= @post.image.url%>">
                <% end %>
            </div> 
        </div>
        <div class="card-content"> 
            <p class="pre-line"><%= @post.content %></p>
        </div> 
        <div class="card-action">
            <% if current_user.is_like?(@post) %> 
                <a rel="nofollow" data-method="post" href=<%= post_like_path(@post) %>><i class="material-icons" style="vertical-align: bottom">star</i>Like</a>
            <% else %> 
                <a rel="nofollow" data-method="post" href=<%= post_like_path(@post) %>><i class="material-icons" style="vertical-align: bottom">star_border</i>Like</a>
            <% end %>
            <%= link_to "delete", post_path(@post.id), method: "delete", class: "right", id: "delete", data: { confirm: "Are you sure you want to delete the article?"}%>
            <%= link_to "edit", edit_post_path(@post.id) , class: "right"%>
            <%= form_tag post_comments_path(@post) do %> 
                <div class="input-field"> 
                    <%= text_area_tag :content, nil, class: "materialize-textarea", placeholder: "댓글을 작성해주세요.", required: true %> 
                </div> 
                <div class="input-field"> 
                    <%= button_tag "write", class: "btn" %> 
                </div> 
            <% end %>
            <% if @post.comments.present? %>
                <ul class="collection"> 
                    <% @post.comments.order('created_at desc').each do |comment| %> 
                        <li class="collection-item"> 
                            <span class="title"><%= comment.user.name %></span> 
                            <span class="right"><%= comment.created_at %></span> 
                            <p><%= comment.content %></p> 
                            <div>
                                <%= link_to "삭제", post_comment_path(@post, comment), method: "delete" %>
                            </div> 
                        </li> 
                    <% end %> 
                </ul> 
            <% end %>
        </div> 
    </div> 
</div>
</div>

