<!DOCTYPE html>
<style>@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');</style>
<html>
  <head>
    <title>The Jihoon Times</title>
    <%= csrf_meta_tags %>
    <!--폰트-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    

    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/posts" class="brand-logo center">The Jihoon Times</a>
        <!--이 부분 어떻게 해야 계속 사이드 바가 나오게 하는지-->
        <ul class="right hide-on-med-and-down">
          <ul id="dropdown1" class="dropdown-content">
            <li><%= link_to "All", posts_category_path(:item => "All"), style: "color: #424242;"%></li>
            <li><%= link_to "Sports", posts_category_path(:item => "Sports"), style: "color: #424242;"%></li>
            <li><%= link_to "Life", posts_category_path(:item => "Life"), style: "color: #424242;"%></li>
            <li><%= link_to "Social", posts_category_path(:item => "Social"), style: "color: #424242;"%></li>
            <li><%= link_to "Technology", posts_category_path(:item => "Technology"), style: "color: #424242;"%></li>
            <li><%= link_to "Else", posts_category_path(:item => "Else"), style: "color: #424242;"%></li>
          </ul>
          <li><a class="dropdown-trigger" data-target="dropdown1">Category<i class="material-icons right">arrow_drop_down</i></a></li>
          <script>
            $(document).ready(function(){
              $('.dropdown-trigger').dropdown({
                 inDuration: 300,
                 outDuration: 225,
                 constrain_width: false, // Does not change width of dropdown to that of the activator
                 hover: false, // Activate on hover
                 gutter: 0, // Spacing from edge
                 belowOrigin: false // Displays dropdown below the button
              });
            });
          </script>
          <% if user_signed_in? %>
            <li><a href="/posts/myhome">My home</a></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: "delete" %></li>
          <% else %>
            <li><a href="/users/sign_in">Log in</a></li>
            <li><a href="/users/sign_up">Sign up</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <div class="container"><%= yield %></div>
  </body>
</html>
